@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", "system-ui", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
}

.phone-input-container .PhoneInputInput {
  border: none !important;
  background: transparent !important;
  outline: none !important;
  padding: 0 10px !important;
  font-family: inherit;
}

.phone-input-container .PhoneInputCountry {
  margin-right: 12px;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  color: #1a1a1a;
  font-family: var(--font-sans);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom Focus Rings */
input:focus {
  outline: none;
}

/* Smooth transitions for buttons and inputs */
button, input {
  transition-property: all;
  transition-duration: 200ms;
}

